apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - configmap.yaml

helmCharts:
  - name: locust
    repo: https://charts.deliveryhero.io/
    version: 0.30.0
    releaseName: locust
    namespace: locust
